.body{
border: 1px solid #EE7621;
height: 500px;
margin: 0px auto;
width: 750px;
}

.bodyContent{
margin: 10px;
}

.formLabel{
margin: 5px;
width: 100px;
float: left;
}

.formInput{
}

.bodyContent a{
color: #000;
text-decoration: underline;
}